.box-container {
  display: block;
  padding-top: 10%;
  margin-left: 32%;
  width: 100%
}
.box-container .button {
  width: 5rem;
  height: 5rem;
  font-size: x-large;
  color: crimson;
  font-weight: bold;
}
.box-container .box-row {
  display: flex;
  flex-wrap: wrap;
  width: 80vh;
  /* width: fit-content; */
}
.square{
  flex: 1 0 calc(25% - 10px); /* Adjust calc(100% / squaresPerRow) */
  /* margin: 5px; */
  box-sizing: border-box;
}
.text-center {
  text-align: center;
  color: #00008b;
  font-size: 3.5rem;
  font-weight: bold;
}
.status {
  font-size: 2rem;
  font-weight: bold;
  color: #00bfff;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
body {
  height: 200px;
  background-image: url("D:\workSpace\myLearnings\TicTacToe\tictactoe\public\BGImage.jpg");
  background-attachment: fixed;
  overflow-x: hidden;
}
.mt-5{
  margin-top: 5rem;
  font-size: larger;
  margin-bottom: 2rem;
  color: #0000cd;
  font-size: x-large;
  font-weight: bold;
}
.input-container{
  text-align: center;
}
.input{
  width: 20%;
  border-radius: 0.2rem;
  height: 5vh;
  margin-right: 1rem;
  font-size: large;
  font-weight: bold;
  /* margin-top: 5rem;
  margin-left: 40rem; */
}
.button.square.winner {
  background-color: green; /* Highlight color for the winning squares */
}